$tablet: 1040px;
$mobile: 640px;

$primary: blue;
$accent:  red;
$black:   #000;
$white:   #fff;

$sitePadding:    10px;
$defaultSpacing: 20px;
$headerHeight:   50px;
$footerHeight:   30px;

$defaultFont: 'Roboto', sans-serif;
