@import 'styles/config';

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 $defaultSpacing;
  height: $headerHeight;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 $defaultSpacing;
  height: $footerHeight;
}

.content {
  padding: $defaultSpacing;
  min-height: calc(100vh - #{$headerHeight});
}
